body {
    background-color: #aaaaaa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

.article-lead {
    font-weight: bold;
}

.date {
    font-style: italic;
}

.icon {
    height: 20px;
}

.mtgicon {
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    top: 0.2em;
    margin: 0 0.05em;
}

.photo {
    display: block;
    margin: auto;
    width: 640px;
}

.photo-small {
    display: block;
    margin: auto;
    width: auto;
}

.centered-strong-list {
    list-style-type: none;
    text-align: center;
    font-weight: bold;
}